@import "./base.css";
:root {
}
body,#app {
    margin: 0;
    height: 100vh;
    min-width: 1500px;
}
body::-webkit-scrollbar {
    display: none;
}

/* HomePage.vue */
.contentCenter {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.homePageImportBtn {
    font-size: 32px;
    height: 88px;
    border-radius: 44px;
    padding: 10px 30px;
    border: 2px solid rgb(220, 223, 230);
    font-family: 'HanYiKaiTi', sans-serif;
}
.homePageImportBtn:hover {
    background-color: inherit;
}

/* NovelPage.vue */
.novelPage {
    display: flex;
    height: 100%;
    width: 100%;
}
.backHomeBtn {
    font-size: 19px;
    font-weight: bold;
    height: var(--top-search-height);
    width: var(--left-menu-width);
    font-family: 'HanYiKaiTi', sans-serif;
    justify-content: flex-start;
    padding-left: 20px;
    border-radius: 0;
}
.backHomeBtn:hover {
    background-color: inherit;
}
.leftMenu {
    width: var(--left-menu-width);
    .elMenu {
        height: calc(100% - var(--top-search-height));
    }
    .elMenuItem {
        font-family: 'HanYiKaiTi', sans-serif;
        font-size: 18px;
    }
}
.container {
    flex: 1;
}