@import "./base.css";
.noteCard {
    --card-height: 250px;
    --card-header-height: 34px
}
.noteCard {
    height: var(--card-height);
    width: 400px;
    background-color: white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, .1);
    border-radius: 12px;
    padding: 10px;
    transition: box-shadow 0.3s, transform 0.3s;
}
.noteCard.active {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* 置顶时的阴影效果 */
    /*transform: scale(1.05); !* 轻微放大效果 *!*/
}
.cardHeader {
    height: 34px;
    border-bottom: 1px solid #ccc;
    cursor: move;
    display: flex;
    align-items: center;
    user-select: none;
    font-family: '楷书', cursive;
    .itemName {
        height: 100%;
        font-size: 30px;
        font-weight: bold;
    }
    .itemType,.superPowerType {
        display: flex;
        align-items: flex-end;
        padding-bottom: 5px;
        margin-left: 5px;
        height: calc(100% - 5px);
    }
    .superPowerLevel {
        margin-left: 5px;
        font-size: 20px;
        font-weight: bold;
        color: cornflowerblue;
        font-family: "Microsoft YaHei", serif;
    }
    .el-tag {
        font-size: 16px;
    }
    .cardHeadOperation {
        margin-left: auto;
        display: flex;
        align-items: center;
        .cardHeadOperationBtn {
            margin-left: 5px;
            cursor: pointer;
        }
    }
}

.noteCardContent {
    cursor: auto;
    overflow: auto;
    height: calc(var(--card-height) - var(--card-header-height) - 1px);
    .itemInfo {
        display: flex;
        margin: 10px 10px;
        font-family: '楷体', cursive;
        align-items: center;
        overflow-x: auto;
    }
    .itemInfoContent {
        line-height: 1.5em;
        .el-tag+.el-tag {
            margin-left: 5px;
        }
        .el-tag {
            font-size: 14px;
        }
    }
}
.colorForCharacter {
    background-color: #E3FDFD;
}
.colorForPlace {
    background-color: #FAF1E6;
}
.colorForProps {
    background-color: #FBFBFB;
}
.colorForEquipment {
    background-color: #FCF596;
}
.colorForOrganization {
    background-color: #FFF7D1;
}
.colorForTask {
    background-color: #A1E3F9;
}