.readingTools {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.chapterInfo {
    height: 58px;
    width: calc(100% - 20px);
    padding: 10px;
    font-family: var(--novel-font-family), sans-serif;
    border-bottom: var(--default-line);
    .chapterTitleInfo {
        flex: 1;
    }
    .chapterNumInfo {
        width: 60px;
        display: flex;
        align-items: center;
    }
}
.width5 {
    width: 5em;
}
.inlineDiv {
    display: flex;
    .infoTitle {
        font-weight: bold;
    }
    .infoContent {
        flex: 1;
        overflow-x: hidden;
        white-space: nowrap;
    }
}
.inlineDiv+.inlineDiv {
    margin-top: 5px;
}
.readingToolScrollPart {
    overflow-y: auto;
    /*height: calc(100% - 99px);*/
    flex: 1;
    width: calc(100% - 20px);
    padding: 10px;
    font-family: var(--novel-font-family), sans-serif;
    .el-collapse {
        border-top-width: 0;
        border-bottom: var(--default-line);
    }
}
.formCollapse {
    font-family: var(--novel-font-family), sans-serif;
    font-size: 16px;
    .el-collapse-item__header {
        font-size: 18px;
        font-weight: bold;
        font-family: var(--novel-font-family), sans-serif;
        padding-left: 15px;
    }
    .el-collapse-item__wrap {
        overflow: visible;
    }
    .el-collapse-item__content {
        color: black;
        padding-bottom: 10px;
    }
}
.gridForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .girdFullRow {
        grid-column: 1 / -1;
    }
    .el-form-item {
        margin-bottom: 10px;
        .el-form-item__label,.el-select__wrapper,.el-input__inner,.el-textarea__inner {
            font-size: 15px;
            font-family: var(--novel-font-family), sans-serif;
        }
        .el-form-item__label {
            font-weight: bold;
        }
    }
    .el-button {
        font-family: var(--novel-font-family), sans-serif;
    }
}
.centerOperation {
    display: flex;
    justify-content: center;
}

.characterInChapter {
    display: flex;
    align-items: center;
    border-radius: 6px;
    height: 32px;
    line-height: 32px;
    margin: 5px 10px;
    padding: 0 10px 0 0;
    box-shadow: 0 4px 20px rgba(0, 0, 0, .1);
    font-size: 16px;
    transition: transform .3s;
    cursor: pointer;
    user-select: none;
    .lineHeader {
        background-color: #1b88ee;
        width: 6px;
        height: 100%;
        border-radius: 6px 0 0 6px;
        margin-right: 10px;
    }
    .color0 {
        background-color: #1b88ee;
    }
    .color1 {
        background-color: #ff0012;
    }
    .color2 {
        background-color: #ffcc4b;
    }
    .characterName {
        font-size: 18px;
        min-width: 4em;
    }
    .characterDivider {
        width: 0;
        height: 80%;
        margin: 0 5px;
        border-right: var(--default-line);
    }
    .characterSuperPowerType {
        margin-right: 10px;
        .el-tag {
            font-size: 16px;
        }
    }
    .characterSuperPowerLevel {
        color: cornflowerblue;
        font-family: "Microsoft YaHei", serif;
        font-weight: bold;
    }
    .characterProminenceFirstOrLast {
        margin-left: auto;
        display: flex;
        align-items: center;
        .el-tag {
            margin-left: 5px;
        }
    }
}
.characterInChapter:hover {
    transform: scale(1.02);
}