@import "./main.css";
.readingTools {
    width: 100%;
    height: 100%;
}
.chapterInfo {
    height: auto;
    width: calc(100% - 20px);
    padding: 10px;
    font-family: var(--novel-font-family), sans-serif;
    border-bottom: var(--default-line);
}
.width5 {
    width: 5em;
}
.inlineDiv {
    display: flex;
    .infoTitle {
        font-weight: bold;
    }
    .infoContent {
        flex: 1;
        overflow-x: hidden;
        white-space: nowrap;
    }
}
.inlineDiv+.inlineDiv {
    margin-top: 5px;
}
.readingToolScrollPart {
    overflow-y: auto;
    height: auto;
    width: calc(100% - 20px);
    padding: 10px;
    font-family: var(--novel-font-family), sans-serif;
    .el-collapse {
        border-top-width: 0;
        border-bottom: var(--default-line);
    }
}
.formCollapse {
    font-family: var(--novel-font-family), sans-serif;
    font-size: 16px;
    .el-collapse-item__header {
        font-size: 18px;
        font-weight: bold;
        font-family: var(--novel-font-family), sans-serif;
        padding-left: 15px;
    }
    .el-collapse-item__wrap {
        overflow: visible;
    }
    .el-collapse-item__content {
        color: black;
        padding-bottom: 10px;
    }
}
.gridForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .girdFullRow {
        grid-column: 1 / -1;
    }
    .el-form-item {
        margin-bottom: 10px;
        .el-form-item__label,.el-select__wrapper,.el-input__inner {
            font-size: 15px;
            font-family: var(--novel-font-family), sans-serif;
        }
        .el-form-item__label {
            font-weight: bold;
        }
    }
    .el-button {
        font-family: var(--novel-font-family), sans-serif;
    }
}
.centerOperation {
    display: flex;
    justify-content: center;
}